

<h2>Lecciones</h2>

<div id="signup">
  <h5>Llena los campos para subir actividad</h5>    <form action="/" method="GET">
<button class="btn btn-danger">Inicio</button>
</form>
<hr>
  <form action="/lesson-create" method="POST">
<div class="input-group mb-3">


  <span class="input-group-text" id="inputGroup-sizing-default">Leccion</span>
  <input type="text" id="input-email" name="nameLesson" placeholder="Ingresa el nombre de la lección" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div >

<span class="input-group-text" id="inputGroup-sizing-default">Aprendizaje Esperado</span>
  <input type=text id="input-password" name="aprendizajeE" placeholder="Aprendizaje Esperado" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<span class="input-group-text" id="inputGroup-sizing-default">Contenido</span>
  <input type="text" id="input-email" name="contenido" placeholder="Contenido" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<span class="input-group-text" id="inputGroup-sizing-default">Grado</span>
  <input type="text" id="input-email" name="gradoLeccion" placeholder="Ingresa el grado" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<span class="input-group-text" id="inputGroup-sizing-default">Actividad</span>
  <input type="text" id="input-email" name="materialDidactico" placeholder="Ingresa Actividad" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<hr>

    <button type="submit" class="btn btn-primary">Agregar actividad</button>
<hr>
</form>

 {{!-- error message will be added here --}}
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
</div>