<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">隆Hola!</h1>
          <p>A continuaci贸n te presentamos los conceptos b谩sicos de todo lo que puede ofrecerte 茅sta instituci贸n.</p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Misi贸n</h2>
            <p style="text-align: justify;">Brindar servicios educativos y complementarios sustentados en un Modelo Educativo pertinente, a trav茅s de planes y programas de estudio, actualizados y reconocidos nacional e internacionalmente, que permiten tanto a estudiantes como egresados obtener y desarrollar competencias avaladas con certificaciones, t铆tulos y grados acad茅micos, transformando su vida para alcanzar el 茅xito, garantizando as铆, la permanencia y el prestigio de la instituci贸n mediante una oferta educativa de corta duraci贸n y f谩cil acceso formando profesionistas productivos, emprendedores, con alta actitud de servicio y disposici贸n permanente para el aprendizaje.</p>
            <p><a class="btn btn-secondary" href="#" role="button"></a></p>
          </div>
          <div class="col-md-4">
            <h2>Visi贸n</h2>
            <p style="text-align: justify;"> Somos una instituci贸n reconocida nacional e internacionalmente por su modelo educativo pertinente, el desarrollo de proyectos acad茅micos y de investigaci贸n con perspectiva social, planes y programas de estudio acreditados, alto grado de empleabilidad y emprendedurismo de nuestros egresados, con una estrategia administrativa armonizada e integrada en un consorcio de servicios educativos y complementarios, que permiten la sostenibilidad, permanencia y transcendencia de la instituci贸n a trav茅s de procesos de gesti贸n, sistemas administrativos y recursos tecnol贸gicos enfocados a la especializaci贸n de cada campo disciplinar, con talento humano, responsable, orientado a resultados y valioso esp铆ritu de servicio.</p>
            <p><a class="btn btn-secondary" href="#" role="button"></a></p>
          </div>
          <div class="col-md-4">
            <h2>Filosof铆a</h2>
            <p style="text-align: justify;">驴En qu茅 creemos?<br>
          <br>
En esta escuela creemos en la energ铆a universal y su capacidad transformadora para acompa帽ar a todos los integrantes de nuestra comunidad en su proceso formativo, respetando todas las ideolog铆as, preferencias y creencias con acciones entusiastas y de buena voluntad que les permitan estadios de conocimiento, educaci贸n y prosperidad m谩s elevados.</p>
            <p><a class="btn btn-secondary" href="#" role="button"></a></p>
          </div>
        </div>

        <hr>
<div class="col-md-4">
            <h2>Valores</h2>
            <p style="text-align: justify;">驴Cu谩les son nuestras cualidades para lograr la visi贸n? <br>
Gratitud: correspondemos a la confianza de la sociedad y de nuestra comunidad al permitirnos transformar sus destinos y trascender <br>
Respeto: nuestra disciplina se basa en la tolerancia y flexibilidad.<br>
Responsabilidad: dirigimos la voluntad, hacia el cumplimiento de nuestras obligaciones.<br>
Transparencia: actuamos con honestidad y honradez.<br>
Armon铆a: generamos un ambiente de paz, cooperaci贸n y lealtad.<br>
Creatividad: fomentamos la curiosidad y el entusiasmo hacia el emprendimiento y el servicio.<br></p>
            <p><a class="btn btn-secondary" href="#" role="button">锔</a></p>
          </div>
      </div> <!-- /container -->

    </main>










    

  


