<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h3 class="display-5 text-primary">¡Contáctanos!</h3>
          <p>Puedes solicitar informes aquí...</p>
          
        </div>
      </div>

      <div class="container p-3 mb-2 bg-light text-dark">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2 >Correo</h2>
            <p class="p-3 mb-2 bg-primary text-white">copcal79@gmail.com </p>
            <p><a class="btn btn-secondary" href="http://www.gmail.com" role="button">Ir a gmail  »</a></p>
          </div>
          <div class="col-md-4">
            <h2>GitHub</h2>
            <p class="p-3 mb-2 bg-info text-dark">hcopca </p>
            <p><a class="btn btn-secondary" href="http://www.github.com" role="button">Ir a github  »</a></p>
          </div>
          <div class="col-md-4">
            <h2 >Facebook</h2>
            <p class="p-3 mb-2 bg-primary text-white">IronSchool</p>
            <p><a class="btn btn-secondary" href="http://www.facebook.com" role="button">Ir a facebook »</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>