
<div class="card mb-3">
  <img src="images/inicio-images/logo-ironschool.png" width=200px alt="Iron logo"> <hr> <form action="/user-profile-mtro" method="GET">
<button class="btn btn-danger">Perfil de Maestro</button>
</form>
<hr>
<form action="/user-profile-alumno" method="GET">
<button class="btn btn-primary">Perfil de alumno</button>
</form>
  <div class="card-body">
    <h4 class="card-title">BIENVENIDO</h4> 


    <p class="fs-5">IronSchool es una de las mejores escuelas para fortalecer conforme a la edad y habilidades del alumno, contamos con los siguientes servicios dentro de la escuela con atención sin excepción a
      alumnos que pertenecen a la institución así como para padres de familia.
    </p>
  </div>
  <span class="border border-danger"></span>
</div>
<div class="card">
   <img  src="images/inicio-images/psico.png"width=150px alt="Psicologia foto">
  <div class="card-body">
    <h5 class="card-title">Atención Psicológica</h5>
    <p class="card-text">El servicio de atención psicológica es un servicio para todos nuestros alumnos y profesorado el horario es de Lunes a Viernes de 9:00 a 15:00 horas.</p>
  </div>
  <span class="border border-danger"></span>
</div>


<div class="card">
  <img src="images/inicio-images/doctor.png" width="80px" alt="Medico Logo">
  <div class="card-body">
    <h5 class="card-title">Servicio Médico</h5>
    <p class="card-text">El objetivo del servicio médico es proporcionar una atención médica pronta y oportuna de primer nivel a la comunidad estudiantil y sus visitantes</p>
  </div>
  <span class="border border-danger"></span>
</div>

<div class="card">
  <img src="images/inicio-images/lib2.jpg" width="120px" alt="...">
  <div class="card-body">
    <h5 class="card-title">Biblioteca</h5>
    <p class="card-text">El centro de información del Campus cuenta con una amplia área de consulta, aulas de asesoría personalizada y salas de lectura.</p>
  </div>
  <span class="border border-danger"></span>
</div>
<div class="card">
   <img src="images/inicio-images/sopo.jpg" width="90px" alt="Soporte logo">
  <div class="card-body">
    <h5 class="card-title">Soporte Técnico</h5>
    <p class="card-text">Está ubicado en el módulo 2 del Campus, para el mantenimiento preventivo o correctivo a los 3 laboratorios de cómputo</p>
    
  </div>
  <span class="border border-danger"></span>
</div>
<div class="card">
  <img src="images/inicio-images/inf.webp" width="90px" alt="Infraestructura logo">
  <div class="card-body">
    <h5 class="card-title">Infraestructura</h5>
    <p class="card-text">El campus cuenta con equipo tecnológico de vanguardia, salones y edificios que cubren todas tus necesidades.</p>
    
  </div>
  <span class="border border-danger"></span>
</div>
<div class="card">
  <img src="images/inicio-images/esc.jpg" width="100px" alt="Transporte logo">
  <div class="card-body">
    <h5 class="card-title">Transporte Escolar</h5>
    <p class="card-text">La institución cuenta con seis unidades de transporte escolar para cubrir tres rutas ya establecidas y autorizadas por el IET</p>
  </div>
  <span class="border border-danger"></span>
</div>
<div class="card">