<h2 class="text-primary">Registro del alumno</h2>
<img class="rounded mx-auto d-block" src="images/alm.png" width="80px" >
<br>
<br>

<div id="signup">
  <h5>Llena los campos completamente, de no ser así no estarás en el registro</h5>
  <form action="/sign-up-alumno" method="POST">
<div class="input-group mb-3">


  <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
  <input type="email" id="input-email" name="email" placeholder="Ingresa tu email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div >

<span class="input-group-text" id="inputGroup-sizing-default">Contraseña</span>
  <input type="password" id="input-password" name="password" placeholder="******" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
  <input type="text" id="input-email" name="nombre" placeholder="Ingresa tu email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<span class="input-group-text" id="inputGroup-sizing-default">Apellido Paterno</span>
  <input type="text" id="input-email" name="apellidoPat" placeholder="Apellido Paterno" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<span class="input-group-text" id="inputGroup-sizing-default">Apellido Materno</span>
  <input type="text" id="input-email" name="apellidoMat" placeholder="Apellido Materno" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<span class="input-group-text" id="inputGroup-sizing-default">Télefono</span>
  <input type="number" id="input-email" name="telefono" placeholder="Númer fijo o celular" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<span class="input-group-text" id="inputGroup-sizing-default">Turno</span>
  <input type="text" id="input-email" name="turno" placeholder="Turno al que perteneces" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<span class="input-group-text" id="inputGroup-sizing-default">Curp</span>
  <input type="text" id="input-email" name="curp" placeholder="Ingresa tu CURP" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>


    <button type="submit" class="btn btn-primary">Crear cuenta</button>


</form>
 {{!-- error message will be added here --}}
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
</div>